
  <div class="contact">

    <div class="contact-box">
      <!--头-->
      <div class="top-title">
        <ul>
          <li>您当前的位置：</li>
          <li>
            <a href="">首页 &gt;</a>
          </li>
          <li class="active">
            <a href="">信贷产品</a>
          </li>
        </ul>
      </div>

      <!--侧边栏-->
      <div class="contact-slider">
        <ul>
          <li>
            <a href="javascript:void(0)">关于赛金进服</a>
          </li>
          <li class="active">
            <a href="javascript:void(0)">联系我们</a>
          </li>
          <li>
            <a href="javascript:void(0)">商务合作</a>
          </li>
          <li>
            <a href="javascript:void(0)">免责声明</a>
          </li>
        </ul>
      </div>

      <!--主内容-->
      <div class="contact-content">
        <!--关于塞金-->
        <div class="contact-item about" style="display: block">
          <h1>关于塞金金服</h1>

          <div class="about-box">
            <h3>企业简介</h3>
            <div class="about-img">
              <img src="{$company_img['image']}">
            </div>
            <p>&nbsp;&nbsp;{$about_sj['value']}</p>
            <h3>企业业务</h3>
            <p>&nbsp;&nbsp;{$business['value']}</p>
          </div>
        </div>

        <!--联系我们-->
        <div class="contact-item way">
          <h1>联系我们</h1>

          <!--地图-->
          <div style="width:810px;height:340px;font-size:16px;" id="map"></div>

          <!---->
          <div class="contact-add">
            <!--标题-->
            <div class="contact-title">
              <span>CONTACT</span>
              <h3>联系方式</h3>
              <b></b>
            </div>
            <!--内容-->
            <div class="contact-sub">

              <!--详细-->
              <div class="contact-way fl">
                <ul>
                  <li>
                    <i class="i_1"></i>
                    <div class="way-box">
                      <p>
                        <span>电话：</span>
                        <span class="desc">{$some['tel']['value']}</span>
                      </p>
                      <p>
                        <span>传真：{$fax['value']}</span>
                        <span class="desc"></span>
                      </p>
                    </div>
                  </li>
                  <li>
                    <i class="i_2"></i>
                    <div class="way-box">
                      <p>
                        <span>电子邮箱：</span>
                        <span class="desc">{$email['value']}</span>
                      </p>
                    </div>
                  </li>
                  <li>
                    <i class="i_3"></i>
                    <div class="way-box">
                      <p>地址：</p>
                      <p>{$some['address']['value']}</p>
                    </div>
                  </li>
                  <li>
                    <i class="i_4"></i>
                    <div class="way-box">
                      <p>
                        <span>QQ：</span>
                        <span class="desc">{$qq['value']}</span>
                      </p>
                      <p>
                        <span>微信公众号：</span>
                        <span class="desc">{$wechart['value']}</span>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>

              <!--图片-->
              <div class="contact-img">
                <img src="__home__/images/contact_1.jpg">
              </div>
            </div>
          </div>
        </div>

        <!--商务合作-->
        <div class="contact-item cooperation">
          <h1>商务合作</h1>
          <div class="cooperation-box">
            <dl>
              <dt>广告及推广资源合作</dt>
              <dd>联系人：广告负责人</dd>
              <dd>Email: hzl@wye100.com</dd>
            </dl>
            <dl>
              <dt>广告及推广资源合作</dt>
              <dd>联系人：广告负责人</dd>
              <dd>Email: hzl@wye100.com</dd>
            </dl>
            <dl>
              <dt>广告及推广资源合作</dt>
              <dd>联系人：广告负责人</dd>
              <dd>Email: hzl@wye100.com</dd>
            </dl>
          </div>
        </div>
        <!--免责声明-->
        <div class="contact-item statement">
          <h1>免责声明</h1>

          <div class="statement-box">
            <p>您正在访问赛金金服(以下简称“我们”)运营，我们依照以下服务条款向您提供本服务条款涉及的相关服务。请您使用赛金金服前仔细阅读本服务条款。若要继续访问和使用赛金金服，您必须不加修改地完全接受本网站的服务声明中所包含的各项条款、政策以及指南，并同意赛金金服即时刊登的通告，并且遵守中国政府有关互联网的相关法律政策，以及遵守本网站制定的各项规定与规则。</p>
            <h5>一、服务内容</h5>
            <p>您正在访问赛金金服(以下简称“我们”)运营，我们依照以下服务条款向您提供本服务条款涉及的相关服务。请您使用赛金金服前仔细阅读本服务条款。若要继续访问和使用赛金金服，您必须不加修改地完全接受本网站的服务声明中所包含的各项条款、政策以及指南，并同意赛金金服即时刊登的通告，并且遵守中国政府有关互联网的相关法律政策，以及遵守本网站制定的各项规定与规则。</p>
            <p>您正在访问赛金金服(以下简称“我们”)运营，我们依照以下服务条款向您提供本服务条款涉及的相关服务。请您使用赛金金服前仔细阅读本服务条款。若要继续访问和使用赛金金服，您必须不加修改地完全接受本网站的服务声明中所包含的各项条款、政策以及指南，并同意赛金金服即时刊登的通告，并且遵守中国政府有关互联网的相关法律政策，以及遵守本网站制定的各项规定与规则。</p>

            <ul>
              <li>(2)按照政府主管部门或相关法律的要求;</li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>



  <script src="__home__/js/jquery-1.10.2.min.js"></script>
  <script src="http://api.map.baidu.com/api?v=2.0&ak=QHGs3lzkwAnvENATgNxcpuhR"></script>
  <script src="__home__/js/swiper.min.js"></script>
  <script src="__home__/js/index.js"></script>
  <script>
    // 百度地图API功能
    var map = new BMap.Map("map");
    var lng = "113.341351";//x
    var lat = "23.138313";//y
    var point = new BMap.Point(lng, lat);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中
    map.centerAndZoom(point, 15);
    var opts = {
      width: 200,     // 信息窗口宽度
      height: 100,     // 信息窗口高度
      title: "赛金金服", // 信息窗口标题
      enableMessage: true,//设置允许信息窗发送短息
      //message: "地址：黎明东路308号 电话：13057909999~"
    }
    //var markerList = "[{ title: \"名称：@Model.C_NAME\", point: \"@Model.C_POSITION\", address: \"@Model.C_ADDRESS\"}]";
    // new window.BMap.InfoWindow("<p style=’font-size:12px;lineheight:1.8em;’>" + markerArr[i].title + "</br>地址：" + markerArr[i].address + "</br></p>"); // 创建信息窗口对象
    var infoWindow = new BMap.InfoWindow("广州市天河区天河路490号1803室", opts);  // 创建信息窗口对象
    map.openInfoWindow(infoWindow, point); //开启信息窗口
    marker.addEventListener("click", function () {
      map.openInfoWindow(infoWindow, point); //开启信息窗口
    });

  </script>
