
  <!--固定图-->
  <div class="house-banner" style="background: url(__home__/images/car_banner.jpg) no-repeat center;"></div>

  <!--内容-->
  <div class="house">
    <div class="house-box">
      <div class="house-fl">
        <!--车抵贷-->
        <div class="house-loan">
          <h3>
            <span>车抵贷</span>
            <a href="{:url('home/index/moreloan',['cate_son'=>$chedidai_id])}">更多贷款</a>
          </h3>

          <div class="house-loan-sort">
          {volist name="chedidai_data" id="vo"}
            <div class="item">
              <div class="item-logo">
                <img src="{$vo['image']}">
              </div>
              <div class="item-desc">
                <strong>{$vo['bank']}</strong>
                <span>{$vo['desc']}</span>
              </div>
              <a href="{:url('home/index/detail',['id'=>$vo['id']])}" class="btn">详情>></a>
            </div>
          {/volist}
          </div>

        </div>
        <!--房贷资讯-->
        <div class="house-info">
          <h3><span>车贷资讯</span></h3>
          <div class="house-info-desc">
            <ul>
            {volist name="zx6_data" id="vo"}
              <li>
              <a href="{:url('home/index/newd',['id'=>$vo['id']])}">• {$vo['title']}</a>
              </li>
            {/volist}
            </ul>
            <a href="{:url('home/index/morenews',['cate'=>6])}">更多&gt;&gt;</a>
          </div>
        </div>
      </div>

        <div class="jh-fr">
          <!--快速申请-->
          <div class="quick-apply">
            <h1>快速申请</h1>
            <form action="{:url('home/index/apply')}" method="post">
              <div class="quick-item">
                <label>您的姓名：</label>
                <input name="name" class="int" type="text" placeholder="请填写您的姓名">
              </div>
              <div class="quick-item">
                <label>手机号码：</label>
                <input name="phone" class="int" type="text" placeholder="请填写您的手机号码">
              </div>
              <div class="quick-item">
                <label>所在成市：</label>
                <input name="zone"  class="int" type="text" placeholder="例如：广州">
              </div>
            <div class="quick-item">
          <input type="checkbox" name="is_agree" checked class="ckb">
              <span>本人已阅读并同意<a href="javascript:void(0)">《赛金金服平台服务协议》</a></span>
            </div>
              <div class="quick-item">
                <input type="submit"  class="btn" value="申请">
              </div>
            </form>
            <p>提交申请后，客服会拨打您的手机，为您免费定制贷款方案。</p>
          </div>
        </div>
    </div>
  </div>
  
  <script src="__home__/js/jquery-1.10.2.min.js"></script>
  <script src="__home__/js/swiper.min.js"></script>
  <script src="__home__/js/index.js"></script>
